@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c9a998;
  --secondary-color: #d1b5a6;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-color);
  color: white;
}

#logo {
  background-color: #70dbb8;
  background-image: linear-gradient(45deg, #a1d06d, white, #ffa001);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* NOTE: Load fonts to use */
@font-face {
  font-family: "Anton";
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(Fonts/Anton-Regular.ttf) format("woff2");
}

@font-face {
  font-family: "DancingScript";
  font-style: bold;
  font-weight: 900;
  font-display: swap;
  src: url(Fonts/DancingScript-VariableFont_wght.ttf) format("woff2");
}

.DancingScript {
  font-family: DancingScript, Arial, Helvetica, sans-serif; /* NOTE: Incase anything goes wrong and 'DancingScript' did not load, we will fall back to any of the remaining three font options specified here*/
  /* font-family: DancingScript; */
}

.Anton {
  /* font-family: Anton; */
  font-family: Anton, Arial, Helvetica, sans-serif;
}

#one-line-ellipsis {
  display: -webkit-box;

  /* Limit the text to 1 lines */
  -webkit-line-clamp: 1;

  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer#pageFooter {
  background: url(/footerWave.svg) no-repeat;
  background-size: cover;
  background-position: center;
}
