@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c9a998;
  --secondary-color: #d1b5a6;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--primary-color);
  color: white;
}

#logo {
  background-color: #70dbb8;
  background-image: linear-gradient(45deg, #a1d06d, white, #ffa001);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* NOTE: Load fonts to use */
/* @font-face {
  font-family: "AlexBush";
  font-style: bold;
  font-weight: 400;
  font-display: swap;
  src: url(Fonts/AlexBrush-Regular.ttf) format("woff2");
} */

@font-face {
  font-family: "DancingScript";
  font-style: bold;
  font-weight: 900;
  font-display: swap;
  src: url(Fonts/DancingScript-VariableFont_wght.ttf) format("woff2");
}

.DancingScript {
  /* font-family: AlexBush; */
  font-family: DancingScript;
}
